body{
    padding: 0;
    margin: 0;
}
.calculator{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: minmax(60px,auto) repeat(5,50px);
}
.calculator > button {
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid rgba(0, 255, 157, 0.40);
    background-color: rgba(255, 166, 0, 0.555);
}

button:hover{
    background-color: rgba(27, 28, 29, 0.452);
}
.double{
    grid-column: span 2;
}
.output{
    padding: 5px;
    background-color: rgba(14, 13, 13, 0.562);
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;
}